@import 'nib'
@import './jquery.mobile.icons.min.css'
@import './Hackthon.min.css'

html, body
  height: 100%
  width: 100%
#map
  margin:auto;
  height: 300px;
  width: 100%;

#food
  margin:auto;
  height: 300px
  width: 900px
.ui-controlgroup, fieldset.ui-controlgroup 
	text-align: center;
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn 
	border-right-width: 0;
	text-align:center;

