@import 'nib'
@import './jquery.mobile.icons.min.css'
@import './Hackthon.min.css'

html, body
  height: 100%
  width: 100%
#map
  margin:auto;
  height: 300px;
  width: 100%;

#food
  margin:auto;
  height: 300px
  width:100%
.label
  font-size:24px
  background:rgba(22,22,22,0.6)
  color:#fff
  padding:.25em
.ui-controlgroup, fieldset.ui-controlgroup 
  text-align: center;

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn 
  border-right-width: 0;
  width:50px;
  margin:auto;
  text-align:center;
#sports_select,#sports_choice,#sports_map,#food_choice,#food_map
  background:rgba(221,120,0,0.1);
#food_submit, #switch2Food,#sports_submit,#final
  background: rgba(169,169,169,0.61);
#sports_submit
  width:80px;
  margin:auto;
#Title
  font-family:"Microsoft JhengHei";
  font-size:50px;
  text-align:center;