@import '../bower_components/semantic-ui/rtl/packaged/css/semantic.min.css'
@import 'nib'
@import 'grid.styl'

total-width=100%

html, body
  margin: 0
  padding: 0

.container
  column(8)
  margin-left: 20%
  height: 100%
  //test nib
  .title
    background: linear-gradient(top, white, #aaaaaa)
    text-align: center
    font-size: 50px
    padding: 5%
  .search-bar
    padding: 3%
    .ui.button
      margin: 2% 0 2% 2%
      float: right
  .result
    margin-top: 30%

#map
  height: 500px
  width: 100%

