extends layout

block content
  .title Tainan open data
  .search-bar
    .ui.input.fluid
      input(type="text" name="url" placeholder='URL')
      .ui.teal.button.icon.labeled.dropdown
        i.dropdown.icon
        span.text type
        .menu
          .item(data-value='json') JSON
          .item(data-value='csv') CSV
          .item(data-value='xml') XML
      .ui.button.blue.init-btn add
  #map
  .result
